.main{
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  height: max-content;
  overflow-x: hidden;
  background-image: url(../assets/img/fondo.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.form {
  max-width: 550px;
  width: 90%;
  background-color: rgba(20, 20, 20, 0.452);
  padding: 15px;
  padding-left: 15px;
  border-radius: 10px;
  margin: 5px 0;
}
.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10pc auto;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.form img{
  width: 70px;
  cursor: pointer;
}
.form h2,
.form label{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form h2{
  text-align: center;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form h2 > p{
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.form label{
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}
.sumary{
  display: block;
}
.form textarea{
  width: 90%;
}
.form > div{
  margin: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.containerdiets{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.main article{
  width: max-content;
  background-color: white;
  padding: 2px 10px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main article span{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main .close{
  /* display: inline-block; */
  float: right;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.main input,
.main textarea,
.main select{
  border-radius: 10px;
  border: 1px solid white;
  font-size: 1rem ;
  padding: 2px 5px;
}
.main  input[type=submit]{
  display: block;
  /* width: 300px; */
  margin: 0 auto;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px ;
}
.main input[type=submit]:disabled{
  border: 2px solid rgba(136, 136, 136, 0.719);
  color: rgba(116, 113, 113, 0.746);
}
.main input[type=submit]:enabled:hover{
  background-color: white;
  color: rgb(204, 63, 7);
}
.error{
  border: 2px solid red;
  /* background-color: rgba(255, 0, 0, 0.493); */
  /* color: white; */
}
.dangerActive{
  display: inline-block;
  width: max-content;
  padding: 5px 15px;
  color: red;
  font-size: 1.2rem;
  margin: 5px 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.39);
  /* text-transform: uppercase; */
}